<div class="reply">
    <span class="username"><%= user %></span><!--  - <button class="replyButton">Reply</button> -->
    <button class="upvoteButton" onclick="vote('<%= post.id %>', false);">-</button> <span>Votes: <%= votes %></span> <button class="upvoteButton" onclick="vote('<%= post.id %>', true);">+</button>
    <p><%= content %></p>
</div>