<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav %>


    <div id="replyBox" class="hidden">
        <div style="background-color: #c9cde8;padding: 5px;">
            <strong>Reply</strong> - <a href="/login">You must be logged in!</a><button class="replyButton"
                onclick="swapReply()" style="float: right;margin: -2px -2px 0px 0px;">X</button>
        </div>
        <form id="newReply" action="/newReply" method="POST" style="padding:10px">
            <label>
                Post Content:
                <br />
                <textarea style="resize: none;text-align: left;" rows="4" cols="30" name="content"></textarea>
            </label>
            <input type="hidden" name="token" id="replyTokenInput" value="">
            <input type="hidden" name="board" id="boardInput" value="<%= board %>">
            <input type="hidden" name="post" id="postInput" value="">
            <script>
                //set token value in form to token
                function getCookie(name) {
                    var re = new RegExp(name + "=([^;]+)");
                    var value = re.exec(document.cookie);
                    return (value != null) ? unescape(value[1]) : null;
                }
                $('#replyTokenInput').val(getCookie('token'));
            </script>
            <br />
            <input type="submit" class="replyButton" style="float: right;" name="submit" />
        </form>
    </div>
    <script>
        function swapReply(postID) {
            $('#replyBox').toggleClass('hidden');
            $('#postInput').val(postID)
        }
    </script>

    <div class="hidden center g-signin2" data-onsuccess="onSignIn"></div>

    <img class="splash" src="">
    <div class="boardTitle divider">
        <%= title %>
    </div>
    <div class="center">
        <%= description%>
    </div>
    <br>
    <div class="center divider" style="width:100%;">

        <h2 id="startThread">[<a href="#" onclick="swap()">Click to Start a New Thread</a>]</h2>
        <script>
            //swap hidden class on thread creator and newthread form
            function swap() {
                $('#newThread').toggleClass('hidden');
                $('#startThread').toggleClass('hidden');
            }

        </script>
        <form id="newThread" action="/newThread" method="POST" class="reply hidden" style="padding:10px">
            <h6 style="float:right;"><a href="#" onclick="swap()">Hide this Prompt</a></h6>
            <br />
            <label>
                Title:
                <br />
                <input type="text" name="title" />
            </label>
            <br />
            <br />
            <label>
                Post Content:
                <br />
                <textarea style="text-align: left;" rows="6" cols="30" name="content"></textarea>
            </label>
            <input type="hidden" name="token" id="tokenInput" value="">
            <input type="hidden" name="board" id="boardInput" value="<%= board %>">
            <script>
                $('#tokenInput').val(getCookie('token'));
            </script>
            <br />
            <a href="/login">You must be logged in to post!</a>
            <br />
            <br />
            <input type="submit" name="submit" value="Post" />
        </form>
        <br />
    </div>
    <br />
    <br />

    <% if (posts) { %>
    <% for(var p in posts) {
        var sortable = [];
        for (var p in posts) {
            sortable.push({
                id: p,
                title: posts[p].title,
                user: posts[p].user,
                votes: posts[p].votes,
                content: posts[p].content,
                replies: posts[p].replies
            });
        }

        sortable.sort(function(a, b) {
            return b.votes - a.votes;
        });
    } %>
    <% sortable.forEach(function(post) { %>

    <script>
        function upvote(path) {
            console.log('upvote')
        }
    </script>

    <div class="thread">
        <span class="threadTitle"><%= post.title %></span> <span class="username"><%= post.user %></span>
        -
        <button class="replyButton" onclick="swapReply()">Reply</button>
        - <span>Votes: <%= post.votes %></span> <button onclick="upvote('<%=  %>');" class="upvoteButton">+</button>
        <p><%= post.content%></p>
        <% if (post.replies) { %>
        <ul>
            <% for (const reply in post.replies) { %>
            <li style="list-style: none;">
                <%- include('../partials/reply', {user: post.replies[reply].user, content: post.replies[reply].content, replies: post.replies[reply].replies, votes: post.replies[reply].votes, post: post, depth: 2}) %>
            </li>
            <% }; %>
        </ul>
        <% }; %>
    </div>
    <% }); %>
    <% }; %>
    <% if (!posts){ %>
    <h3 class="center">It appears that this board is disabled and has no posts.</h3>
    <p class="center"><i>Note</i>: This is intentional, for testing purposes. Writing to this board has been disabled
    </p>
    <% } %>

    <% include ../partials/copyright %>
    <script src="/index.js"></script>
</body>

</html>