<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav %>

    <img class="splash" src="">
    <div class="boardTitle divider">
        <%= title %>
    </div>
    <div class="center">
        <%= description%>
    </div>
    <br>

    <% if (posts && posts.length) { %>
    <% posts.forEach(function(post) { %>
    <div class="thread">
        <span class="threadTitle"><%= post.title %></span> <span class="username"><%= post.user %></span>
        <p><%= post.content%></p>
        <% if (post.replies && post.replies.length) { %>
            <ul>
            <% post.replies.forEach(function(reply) { %>
                <li>
                    <% include ../partials/reply %>
                </li>
            <% }); %>
            </ul>
        <% }; %>
    </div>
    <% }); %>
    <% }; %>

    <% include ../partials/copyright %>
    <script src="/index.js"></script>
</body>

</html>